extends layout

block content
  h1= title

  table(style='width:100%', border='1')
    tr
        th Id
        th Name
        th Author
        th Rented

    each book in book_list
      tr
        th 
          a(href='http://localhost:3000/api/books/'+book.id) !{book.id}
        th !{book.name}
        th !{book.author}
        if book.isRented
          th V
        else 
          th X
    //- tr
    //-   td 001
    //-   td Adam
    //-   td 25
    //- tr
    //-   td 002
    //-   td rahul
    //-   td 27
    //- tr
    //-   td 003
    //-   td john
    //-   td 80
